<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="My Fantastic Toy Shop" />
    <title>My Fantastic Toy Shop</title>
  
</head>
<body style="background-color: lightsalmon;">
    
    <!-- Contains the heading, navigation and banner image -->
    <header>
        {% block header %}{% endblock %}
    </header>

    <!-- Contains the main content of the website, divided into sections -->
    <main>
        {% block main %}{% endblock %}
    </main>

    <div>
        <!-- Cart button -->
        <div class="float">
            <a href="#order-detail">
                <img src="{{url_for('static', filename='image/Icon/shopping-cart.png')}}" alt="Cart" style="height: 50px; width: 50px; margin-top: 15px;">
            </a>
            
        </div>

        <!-- Order Detail -->
        
        <div id="order-detail" class="modal">
            <div class="content">
                <h1 style="color: black; position:absolute; top:10px; right: 55px; ">
                    Order Detail
                </h1>
                
                
                <div class="container">
                    <div class="row">
                        <div style="border: color(black);" class="col"><p>Toy Name</p></div>
                        <div style="border: color(black);"class="col"><p>Toy Price</p></div>
                        <div style="border: color(black);"class="col"><p>Total Price</p></div>
                        <div style="border: color(black);"class="col-6"><p>Amount</p></div>
                    </div>
                    
                    <div class="row">
                      <div style="border: color(black);" class="col"></div>
                      <div style="border: color(black);"class="col"></div>
                      <div style="border: color(black);"class="col"></div>
                      <div style="border: color(black);"class="col"> 
                            <button type="button"action="" >-</button>
                      </div>
                      <div>
                        <div style="border: color(black);"class="col"></div>
                      <div style="border: color(black);"class="col">
                        <button type="button" action=""></button>">+</button>
                    </div>
                </div>
                
               
                <a href="#" style=" position: absolute; top: 10px; right: 10px;">
                    <img src=".{{url_for('static', filename='image/Icon/cancel.png')}}" alt="cancel" style="height: 24px;width: 24px;">  
                </a>
            </div>
        </div>
    </div>

    <!-- Footer of the website -->
    <footer>
        <div class="footer">
            <p>Copyright &copy; 2024</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</body>
</html>