{% extends 'base.html' %}


{% block header %}
<div id="navigationbar">
    <div id="companyname">
        <img class="imgTitleIcon" src="{{url_for('static', filename='image/Icon/titleToy.png')}}" alt="shopping">
        <a href="#">My Fantastic Toy Shop</a>
        <img class="imgTitleIcon" src="{{url_for('static', filename='image/Icon/titleToy.png')}}" alt="shopping">
    </div>
    <nav id="navigationmenu">
        <ul id="navigationlist">
            <li>
                <a href="{{url_for('main.index')}}">
                    <img style="height: 24px; width: 24px;" src="{{url_for('static', filename='image/Icon/back.png')}}" alt="back">
                    Back
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block main %}

<section>
    <div style="align-items: center; border-bottom: 4px solid white; margin-left: 10%; margin-right: 10%; margin-top: 3%;" id="productdetail">
        <div class="d-flex flex-row">
            <div class="p-2">
                <img src="{{url_for('static', filename='image/Icon/info.png')}}" alt="info" style="height: 36px; width: 36px;">
            </div>
            <div class="p-2">
                <div style="height: 50px; width: 300px; margin-left: -5%;">
                    <h2 style="color: white;">Toy Detail:</h2>
                </div>
            </div> 
        </div>

        <div class="d-flex flex-column">
            <div class="p-2" style="margin-top: -1%; width: 300px;">
                <img src="{{url_for('static', filename='image/'+toy.image)}}" alt="toyImg" style=" width: 300px; height: 300px; border-radius: 4px; border: 4px solid white;">
            </div>

            <div class="p-2" style="margin-top: -1%;">
                <h2 style="color:white; display: inline;">Name:</h2>
                <p style="color: white; display: inline; margin-left: 1%;">{{toy.toy_name}}</p>
            </div>

            <div class="p-2" style="margin-top: -1%;">
                <h2 style="color:white; display: inline;">Price:</h2>
                <p style="color: white; display: inline; margin-left: 1%;">${{toy.price}}</p>
            </div>

            <div class="p-2" style="margin-top: -1%;">
                <h2 style="color:white; display: inline;">Category:</h2>
                <p style="color: white; display: inline; margin-left: 1%;">{{toy.category_name}}</p>
            </div>

            <div class="p-2" style="margin-top: -1%;">
                <h2 style="color:white; display: inline;">Description:</h2>
                <p style="color: white; display: inline; margin-left: 1%;"><br>{{toy.description}}</p>
            </div>

            <div class="p-2">
                <!-- Add function #Bryan -->
                <form method="post" action="{{url_for('main.add', toyid=toy.id)}}">
                    <button style="background-color: rgb(255, 115, 60); width: 180px; height: 60px; border-radius: 30px; border-color: rgb(215, 95, 50); color: white;">
                        Add In Cart!
                        <img src="{{url_for('static', filename='image/Icon/add-to-cart.png')}}" alt="details" style="height: 44px;width: 44px;">
                    </button>
                </form>
            </div>
        </div>  
    </div>
</section>

<div>
    <!-- Cart button -->
    <div class="float">
        <a href="#order-detail">
            <img src="{{url_for('static', filename='image/Icon/shopping-cart.png')}}" alt="Cart" style="height: 50px; width: 50px; margin-top: 15px;">
        </a>
        
    </div>

    <!-- Order Detail -->
    <div id="order-detail" class="modal">
        <div class="content" style=" width: 60em;">
            <h2 style="color: black; position:absolute; top:10px; right: 12em; ">
                Order Detail
            </h2>

            <!-- ORder list #Bryan -->
            <div class="container">
                <div class="row">
                    <div class="col list">
                        <p>Toy Name</p>
                    </div>
                    <div class="col list">
                        <p>Toy Price</p>
                    </div>
                    <div class="col list">
                        <p>Total Price</p>
                    </div>
                    <div class="col-6 list">
                        <p>Amount</p>
                    </div>
                </div>
                
                <!-- For loop -->
                {% if orders %}
                {% for order in orders %}
                <div class="row">
                    <div class="col list">
                        <p>
                            {{order.toy.name}}
                        </p>
                    </div>
                    <div class="col list">
                        <p>
                            ${{order.toy.price}}
                        </p>
                    </div>
                    <div class="col list">
                        <P>
                            {{order.total_price}}
                        </P>
                    </div>
                    <div class="col list" style="height: 24px; width: 24px;">
                        <form method="post" action="{{url_for('main.subtract', toyid=order.toy_id)}}">
                            <button type="submit" style="border-color: transparent;">
                                <img src="{{url_for('static', filename='image/Icon/minus.png')}}", alt="subtract" style="height: 24px; width: 24px;">
                            </button>
                        </form> 
                    </div>
                    <div class="col list">
                        <P>
                            {{order.amount}}
                        </P>
                    </div>
                    <div class="col list" style="height: 24px; width: 24px;">
                        <form method="post" action="{{url_for('main.add', toyid=order.toy_id)}}">
                            <button type="submit" style="border-color: transparent;">
                                <img src="{{url_for('static', filename='image/Icon/plus.png')}}", alt="plus" style="height: 24px; width: 24px;">
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="list" style="color: red;">
                    No toy inside cart.
                </p>
                {% endif %}
            </div>
            
            <a href="{{url_for('main.check')}}" style="position: absolute; bottom: 10px; right: 20px">
                <button type="button" style="border-radius: 4px; background-color: rgb(255, 115, 60); border-color: black;border-width: 1px; height: 30px; width: 90px;">
                    <p style="color: white;">
                        Checkout!
                    </p>
                </button>
            </a>
            
            <a href="#" style=" position: absolute; top: 10px; right: 10px;">
                <img src=".{{url_for('static', filename='image/Icon/cancel.png')}}" alt="cancel" style="height: 24px;width: 24px;">  
            </a>
        </div>
    </div>
</div>

<!-- Relative Product -->
<section>
    <div style="align-items: center; margin-left: 10%; margin-right: 10%;margin-top: 1%; margin-bottom: 5%;" id="relatedtoys">
        <div class="d-flex flex-row">
            <div class="p-2">
                <img src="{{url_for('static', filename='image/Icon/related-toys.png')}}" alt="info" style="height: 36px; width: 36px;">
            </div>
            <div class="p-2">
                <div style="height: 50px; width: 300px; margin-left: -5%;">
                    <h2 style="color: white;">Related Toys:</h2>
                </div>
            </div> 
        </div>

        <div class="container" style="padding: 5px; background-color: rgb(185, 80, 25);">
            <div class="scrolling-wrapper">

                {% for Toy in toys %}
                <a href="{{url_for('main.toydetail', toyid=Toy.id)}}">
                    <div class="card_Product_related">
                        <img class="card-img-top" src="{{url_for('static', filename='image/'+Toy.image)}}" alt="Card name">
                        <div class="card-body">
                          <p class="card-text" style="color: black;">{{Toy.name}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}